@font-face {
    font-family: "Jost";
    src: url('../assets/fonts/Jost-400-Book.ttf');
    font-weight: $fw-regular;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url('../assets/fonts/Jost-500-Medium.ttf');
    font-weight: $fw-semibold;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url('../assets/fonts/Jost-700-Bold.ttf');
    font-weight: $fw-bold;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url('../assets/fonts/Jost-900-Black.ttf');
    font-weight: $fw-black;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Jost", Arial;
    font-size: 10px;
    font-weight: $fw-regular;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding: 10px;
    opacity: 0;
    transition: opacity .3s ease-out, background-color .3s ease-out;
    cursor: pointer;
    background-color: white;
    border: 1px solid $black;
    border-radius: 50%;
    z-index: 1;

    img {
        transition: filter .3s ease-out;
    }

    &:focus {
        outline: 0;
        border: 1px solid black;
    }

    &.active {
        opacity: 1;
    }

    &:hover {
        background-color: $black;

        img {
            filter: invert(1);
        }
    }
}

.lock-scroll {
    overflow: hidden;
}