.carousel-container {
    position: relative;
    padding: 50px;
    background-color: $dark-grey-blue;

    .carousel-slides-container {
        max-width: 1200px;
        width: 100%;
        margin: auto;
        overflow-x: hidden;

        .carousel-slides {
            display: flex;
            justify-content: flex-start;
            width: 100%;

            .carousel-slide {
                position: relative;
                margin: 0 5px;

                .desc {
                    position: absolute;
                    left: 35px;
                    bottom: 20px;

                    h2,
                    p {
                        font-family: "Jost", Arial;
                        font-size: 1.3rem;
                        margin-bottom: 0;
                    }

                    h2 {
                        font-weight: 500;
                        color: $greyish-brown;
                    }

                    p {

                        font-weight: 700;
                        color: $black;
                    }
                }
            }
        }
    }

    .prevBtn,
    .nextBtn {
        position: absolute;
        top: 50%;
        width: 45px;
        height: 45px;
        background-color: transparent;
        border: none;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .prevBtn {
        left: 5%;
    }

    .nextBtn {
        right: 5%;
    }
}

@media screen and (max-width: 1599px) {
    .carousel-container {

        .prevBtn {
            left: 30px;
        }

        .nextBtn {
            right: 30px;
        }
    }
}

@media screen and (max-width: 340px) {
    .carousel-container {
        padding: 30px;

        .prevBtn {
            left: 10px;
        }

        .nextBtn {
            right: 10px;
        }
    }
}