.carousel {
    position: relative;
    background-color: $dark-grey-blue;

    &__items {
        margin: 50px 0;
        overflow: hidden;

        .slick-dots {
            text-align: center;
            margin: 10px 0;

            li {
                display: inline-block;
                margin: 0 5px;

                .dot {
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                    background-color: $brown-grey-three;
                    border-radius: 50%;
                }
            }

            .slick-active {
                .dot {
                    background-color: white;
                }
            }
        }
    }

    &__item {
        position: relative;
        width: auto;

        img {
            display: block;
        }

        .desc {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 15px;

            &__name {
                font-size: 13px;
                color: $greyish-brown;
            }

            &__price {
                font-size: 13px;
                font-weight: $fw-bold;
                color: $black;
            }
        }
    }
}