.footer {
    padding: 50px 0;

    .social,
    .policies,
    .options {
        padding-right: 0;
        padding-left: 0;
    }

    .social {
        a:not(:last-child) {
            margin-right: 40px;
        }
    }

    .policies,
    .options {
        font-family: "Jost", Arial;
        font-size: 1.3rem;
    }

    .policies {
        text-align: center;

        a {
            font-weight: 700;
            color: $black;

            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }

    .options {
        text-align: right;

        label {
            font-weight: 500;
            color: $brown-grey-three;

            &:not(:last-child) {
                margin-right: 40px;
            }
        }

        select {
            font-weight: 400;
            color: $black;
            padding: 0 5px;
            background-color: transparent;
            border: none;
            -webkit-appearance: none;
            text-indent: 1px;
        }
    }

    .bottom {
        margin-top: 50px;

        .copy,
        .payment {
            padding-right: 0;
            padding-left: 0;
        }

        .payment {
            text-align: right;
        }
    }
}

@media screen and (max-width: 991px) {
    .footer {

        .social,
        .policies,
        .options {
            text-align: center
        }

        .policies {
            margin: 25px 0;
        }

        .bottom {

            .copy,
            .payment {
                text-align: center
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .footer {

        .social,
        .policies,
        .options {
            text-align: left;
            padding-right: 15px;
            padding-left: 15px;
        }

        .social {
            a:not(:last-child) {
                margin-right: 30px;
            }
        }

        .policies {
            a {
                font-size: 1.2rem;

                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }

        .options {
            label {
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }

        .bottom {

            .copy,
            .payment {
                text-align: left;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }
}