.products {
    h1 {
        font-size: 48px;
        font-weight: $fw-semibold;
        text-align: center;
        padding: 100px 0;
    }

    .product {
        margin-bottom: 50px;

        &__img {
            max-width: 100%;
            width: 100%;
        }

        &__title {
            font-size: 10px;
            font-weight: $fw-black;
            color: $black-three;
            margin: 10px 0;

            img {
                margin-right: 5px;
                vertical-align: bottom;
            }
        }

        &__text {
            font-size: 13px;
            font-weight: $fw-semibold;
            color: $greyish-brown;
            margin-bottom: 5px;
        }

        &__price {
            font-size: 13px;
            font-weight: $fw-bold;
            color: $black;
            margin-bottom: 5px;
        }

        &__buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            .add {
                button {
                    font-size: 13px;
                    font-weight: $fw-bold;
                    color: $black;
                }
            }

            .other {
                button {
                    margin: 0 10px;

                    img {
                        vertical-align: middle;
                        transition: transform .2s ease-out;
                    }

                    &:hover {
                        img {
                            transform: scale(1.25);
                        }
                    }
                }
            }
        }
    }

    .link {
        text-align: center;

        .btn {
            display: inline-block;
            font-size: 13px;
            font-weight: $fw-semibold;
            color: $black;
            text-decoration: none;
            padding: 15px 35px;
            margin: 0 auto;
            border: 2px solid $black;
            transition: all .2s ease-out;

            img {
                transform: rotate(-90deg);
                margin-top: -2px;
                margin-left: 20px;
                vertical-align: middle;
                transition: filter .2s ease-out;
            }

            &:hover {
                background: $black;
                color: white;

                img {
                    filter: invert(1);
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .products {
        .product {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}