.button-scroll {
    position: fixed;
    bottom: 45px;
    right: 45px;
    width: 45px;
    height: 45px;
    font-size: 2rem;
    color: $white;
    background-color: $tomato;
    border: 2px solid $white;
    border-radius: 50%;
    z-index: 2;
    display: none;
}

.button-scroll--show {
    display: block;
}