$white: #ffffff;
$black: #151515;
$dark-grey-blue: #263a49;
$greyish-brown: #454545;
$greyish-brown-50: rgba(69, 69, 69, 0.5);
$black-three: #111111;
$brown-grey-three: #858585;
$denim: #375973;

$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
$fw-black: 900;